h1 {
    color: navy;
}

img {
    width: 300px;
    border-radius: 50px;
    float: none ;
    margin-right: 10px;
}

p.caption {
    font-weight: bold;
}

em {
    color: red;
    font-style: normal;
}